<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>
<div class="container-fluid">

  <%= render "layouts/navbar" %>


  <div class="row">
    <div class="col-lg-8" >
      <h2>Products</h2>

      <ul>
        <% @products.each do |product| %>
          <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
          <%= link_to 'show', home_path(product) %> ||
          <%= link_to 'edit', edit_home_path(product) %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
